In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_excel('clean-udemy.xls')
data = pd.read_csv('udemy-old.csv')
data.head(5)

,course_id,price,num_subscribers,num_reviews,num_lectures,rating,content_duration,level,subject,paid
0,695656,195,31499,450,46,0.76,4.0,2,4,1
1,511934,0,30531,1948,53,0.78,3.0,1,4,0
2,267560,0,29990,1342,87,0.95,17.5,2,4,0
3,866460,195,29348,780,66,0.31,3.0,2,4,1
4,151668,0,29167,1463,8,0.18,1.5,1,1,0

In [2]:
data.dtypes

course_id             int64
price                 int64
num_subscribers       int64
num_reviews           int64
num_lectures          int64
rating              float64
content_duration    float64
level                 int64
subject               int64
paid                  int64
dtype: object