In [36]:
import pandas as pd
import numpy as np
from IPython.display import display
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_excel('clean.xls')
data_old = pd.read_csv('udemy-old-before-cleaning.csv')

In [37]:
data['num_subscribers']

0       31499
1       30531
2       29990
3       29348
4       29167
        ...
3535        0
3536        0
3537        0
3538        0
3539        0
Name: num_subscribers, Length: 3540, dtype: int64

In [38]:
data = data.sort_values('num_subscribers', ascending=False)
data = data.drop_duplicates(subset='course_id', keep='first')

In [39]:
data['num_subscribers']

0       31499
1       30531
2       29990
3       29348
4       29167
        ...
3501        0
3502        0
3503        0
3504        0
3539        0
Name: num_subscribers, Length: 3536, dtype: int64

In [40]:
the_id = data['course_id']
id_list = the_id.tolist()
print(len(id_list))

3536

In [41]:
data_old_filtered = data_old[data_old['course_id'].isin(id_list)]
data_old_filtered = data_old_filtered.sort_values('num_subscribers', ascending=False)
data_old_filtered = data_old_filtered.drop_duplicates(subset='course_id', keep='first')
data_old_filtered['num_subscribers']

48      31499
50      30531
51      29990
52      29348
53      29167
        ...
3637        0
3638        0
3639        0
3640        0
3675        0
Name: num_subscribers, Length: 3536, dtype: int64

In [42]:
data_old_filtered['Date']

48      2015-12-29
50      2015-06-30
51      2014-08-10
52      2016-11-29
53      2014-05-27
           ...
3637    2014-03-31
3638    2017-03-24
3639    2014-04-15
3640    2017-05-23
3675    2017-06-28
Name: Date, Length: 3536, dtype: object

In [43]:
dates=data_old_filtered['Date'].tolist()
print(len(dates))

3536

In [44]:
data['Date'] = dates

In [47]:
data.describe()

,course_id,price,num_subscribers,num_reviews,num_lectures,rating,content_duration,level,subject,paid
count,3.536000e+03,3536.000000,3536.000000,3536.000000,3536.000000,3536.000000,3536.000000,3536.000000,3536.000000,3536.000000
mean,6.816935e+05,64.141686,2281.784502,79.965781,34.045814,0.610484,3.364734,1.624152,2.491233,0.918835
std,3.412144e+05,59.324271,4022.245793,209.707837,29.314838,0.335477,3.366609,0.748690,1.240948,0.273127
min,8.324000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,4.136892e+05,20.000000,104.000000,4.000000,14.000000,0.270000,1.000000,1.000000,1.000000,1.000000
50%,6.922220e+05,45.000000,850.500000,17.000000,25.000000,0.760000,2.000000,1.000000,3.000000,1.000000
75%,9.642080e+05,95.000000,2343.000000,58.000000,43.000000,0.930000,4.000000,2.000000,4.000000,1.000000
max,1.282064e+06,200.000000,31499.000000,2709.000000,187.000000,1.000000,22.000000,4.000000,4.000000,1.000000

In [50]:
data.to_csv('cleandate.csv', index=False)